/**
 * Styles applied in editor and frontend.
 *
 * Webpack processes CSS, SASS or SCSS files referenced in JavaScript files.
 * All filenames containing `style` keyword are bundled together. The code used
 * gets applied to both the frontend and the editor.
 *
 * @see https://www.npmjs.com/package/@wordpress/scripts#using-css
 */

.wp-block-utility-blocks-social-links-gradient-fill {

	&> .social-links-gradient-fill--defs {
		width: 0;
		height: 0;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor,
	.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor svg,
	.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:active,
	.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:hover,
	.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:visited {
		fill: url(#lw--svg-inline-gradient--sunrise);
		color: #0000;
	}
}
